:root {
    --cor-12: #000000;
    --cor-11: #111111;
    --cor-10: #212121;
    --cor-9: #272727;
    --cor-8: #464646;
    --cor-7: #606060;
    --cor-6: #7D7D7D;
    --cor-5: #949494;
    --cor-4: #AEAEAE;
    --cor-3: #C8C8C8;
    --cor-2: #E0E0E0;
    --cor-1: #F7F7F7;
    --cor-0: #ffffff;
    --cor-10: #2e2e2e;
    --cor-p5: #331F01;
    --cor-p4: #714A03;
    --cor-p3: #A66F00;
    --cor-p2: #E7A50C;
    --cor-p1: #ffbb00;
}